body {
    background-color: #efe4b0;
    margin: 20px;
}

/* img {
    border: 10px solid transparent;
    border-radius: 360px;
}

img:hover {
    border: 10px solid #ffb17a;
    border-radius: 360px;
} */
