body {
    background-color: #efe4b0;
    margin: 20px;
    font-family: Verdana, sans-serif;
}

div {
    padding: 10px;
}
/* img {
    border: 10px solid transparent;
    border-radius: 360px;
}

img:hover {
    border: 10px solid #ffb17a;
    border-radius: 360px;
} */
