body {
    background-color: #efe4b0;
    margin: 20px;
}

.btn {
    padding: 40px;
    font-family: 'Dekko', cursive;
    font-size: 32px;
    font-weight: bold;
    color: #ffb17a;
}

.btn:hover {
    color: #ff7f27;
    cursor: pointer;
}

a {
    text-decoration: none;
}

form {
    font-family: Verdana, sans-serif;
    font-size: 24px;
}

div {
    font-family: Verdana, sans-serif;
}
/* img {
    border: 10px solid transparent;
    border-radius: 360px;
}

img:hover {
    border: 10px solid #ffb17a;
    border-radius: 360px;
} */
